extends layout

block content
	p.page-type Repository-branch
	h1
		a(href="/") / 
		a(href="/#{repo}")= repo
		=' | ' + branch
	p Available commits:
	ul.code
		each commit in commits
			li
				a(href="/#{repo}/"+ commit.sha.substring(0,6) + "/index.html")= commit.message
				ul
					li= new Date(commit.date).toLocaleString().replace(/ 20(\d{2})/,', \'$1 -').replace(/GMT-\d{4}.* /,'')
					li= commit.sha.substring(0,6)
					li= commit.author