extends layout

block head
	base(target="_parent")		
block content
	p.page-type Repository-branch
	h1
		a(href="/") / 
		a(href="/#{repo}")= repo
		=' | ' + branch
	p Available commits:
	ul.code
		each commit in commits
			li
				a(href="/frame/#{repo}/#{branch}/"+ commit.sha.substring(0,6) + "/index.html")= commit.message
				ul
					li= new Date(commit.date).toLocaleString().substring(0,21)
					li= commit.sha.substring(0,6)
					li= commit.author