doctype html
html
	head
		title= page_title
		base(target=_blank)
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(height="100%")
		iframe.menu(src="/#{repo}/#{branch}/")
	
		iframe.file(src="/#{repo}/#{commit}/#{file}")
